# ignore build harness
*build-harness

# ignore direnv vars
.vars

# ignore src directory
src

# ignore Brewfile.lock
Brewfile.lock*

# ignore helm chart default values
helm/**/*-values.yaml

# ignore pulled helm charts
helm/**/.chart

# ignore certs dir
.certs